/* Ripple effect */
/* .ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: rgb(230, 230, 230) radial-gradient(circle, transparent 1%, rgb(201, 201, 201) 1%) center/15000%;
  }
  .ripple:active {
    background-color: white;
    background-size: 100%;
    transition: background 0s;
  } */

  .ripple {
    position: relative;
  
    display: block;
    margin: 30px auto;
    padding: 0;
  
    overflow: hidden;
  
    border-width: 0;
    outline: none;
    border-radius: 2px;
    /* box-shadow: 0 1px 4px rgba(0, 0, 0, .6); */
    
    background-color: #2ecc71;
    color: #ecf0f1;
    
    transition: background-color .3s;
  }
  
  .ripple:hover, .ripple:focus {
    background-color: #27ae60;
  }
  
  .ripple > * {
    position: relative;
  }
  
  .ripple span {
    display: block;
    padding: 12px 24px;
  }
  
  .ripple:before {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    display: block;
    width: 0;
    padding-top: 0;
      
    border-radius: 100%;
    
    background-color: rgba(155, 162, 179, .3);
    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .ripple:active:before {
    width: 120%;
    padding-top: 120%;
    
    transition: width .2s ease-out, padding-top .2s ease-out;
  }
 

  
  .ripple.orange {
    background-color: #e67e22;
  }
  
  .ripple.orange:hover, .ripple.orange:focus {
    background-color: #d35400;
  }
  
  .ripple.red {
    background-color: #e74c3c;
  }
  
  .ripple.red:hover, .ripple.red:focus {
    background-color: #c0392b;
  }