.featureBox {
    margin-left: 0px;
    margin-right: 0px;
    padding-top:10px;
    border:5px solid white !important;
    border-radius: 10px !important;
    background-color : #f4f4f4 !important;
}

#layers .lu-widget {
    border: 0px;
}